


h1 {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}

.posIsion {
    position: absolute;
        top: 10px;
        left: 90px;
}

.posIsion1 {
    margin-left: 20%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    line-height: 1;

 width: 65%;
  
   
    font-size: 70px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
   
}

h2 {

    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.homePos{
    position: absolute;
    Left: 48%;
    top: 34%;
}
.h2Interests{
    position: absolute;
    Left: 41%;
    top: 34%;
}

.h2Accomplishments{
    position: absolute;
    Left: 41%;
    top: 34%;
}

.pas1 {
    width: 60%;
    margin-left: 23%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

.pas2
{   margin-left: 21%; 
    height: 8vh;
    
}


button,
a {
    box-shadow: rgb(10, 86, 161);
    text-decoration: none;
    width: 350px;    
  
}

.buttons {
    font-size: 25px;
    width: 250px;
  
    border-radius: 0px 0px 15px 0px;
}

.buttonPosition1 {
    position: absolute;
    top: 85%;
    left: 44%;
}

.buttonPosition2 {
    position: absolute;
    top: 85%;
    left: 20%;
}
.buttonPosition3 {
    position: absolute;
    top: 85%;
    left: 65%;
}



.heighT {
    height: 70px;
}

.homeBody {
    background-image: url(./accets/karsten-winegeart-4j5g8KuFA2k-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.body1 {
    background-image: url(/accets/ulises-guareschi-corvetto-6hvIzRw93MY-unsplashblackandwhite.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.body2 {
    background-image: url(/accets/olga-nayda-fzLdvgHQvfU-unsplashblackwhite.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.imgD {
    top: 30%;
    margin-left: 2%;
    width: 20%;
    position: absolute;
}

.card_text{
    font-size: 13px;
    font-style:italic;   
}
.card_text2{
    font-size: 75%;   
     
}